
    <div id="home_page">
        <h1>Home Page</h1>
        <h1>Home Page</h1>
        <button id="test">test</button>
    </div>
    <script>
        {{!-- (async function() {
            const tokenAccess = document.cookie;
            var myHeaders = new Headers();
            myHeaders.set("x_authorization", document.cookie);

            var a = myHeaders.get('x_authorization');
            console.log(a);
            var test = await fetch("/home", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: "same-origin",
            }).then(res => console.log(res.headers));
        })() --}}
    </script>

